<!-- страница дашборд -->
{% extends 'base.html' %}

{% block title %}приветствие{% endblock %}

{% block content %}
    <h1></h1>
    <p>
        «Словарь Вильяма Шекспира, по подсчету исследователей, составляет 12 000 слов.<br>
        Словарь негра из людоедского племени Мумбо-Юмбо составляет 300 слов.<br>
        Эллочка Щукина легко и свободно обходилась тридцатью.»<br>
        Двенадцать стульев. И.Ильф Е.Петров<br><br>
		Ayumu(Аюми) - имя шимпанзе, который способен мгновенно запомнить и затем воспроизвести порядок и место расположения на мониторе чисел от 1 до 9.<br><br>
        Если Вы хотите расширить свой словарный запас английского языка - <a href="training/">приступайте</a>!
    </p>
    
{% endblock %}